# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# config
.env
.env.*

# dependencies
node_modules

# build
target
vendor

# nix cache
.direnv

# IDE artifacts
target
.idea
vendor
